.bg-success {
    background-color: #1E4D2B !important;
}

.btn-success {
    background-color: #C8C372 !important;
}

body {
    font-family: 'prox-regular', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'factoria-book', sans-serif !important;
    font-weight:normal !important;
}

#footer {
    margin-top: auto !important;
}